/* common style */
* {
  font-family: "Open Sans", sans-serif;
}
.btn-prime {
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  /* width: 825px; */
  /* height: 120px; */
}

/* nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 150px;
}
.color-text {
  color: #fd6e0a;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}

/* banner style */
.header {
  background-color: #fff8f3;
  background-image: url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 585px;
}
.profile-picture {
  width: 500px;
}
.banner-greeting {
  font-size: 45px;
  color: #474747;
  font-weight: 600;
  margin-bottom: 0px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

/* about me section style */
main {
  /* max-width: 1140px; */
  margin: 0px auto;
}
.about-me {
  background: #fff8f3;
  border-radius: 10px;
  padding: 75px 100px;
  margin: 100px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
  width: 150px;
  height: 50px;
  margin-left: 10px;
}
.info-title {
  color: #757575;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
}
.info-description {
  color: #474747;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

/* what i do section */
.what-i-do {
}
.what-i-do-description {
  margin: 30px 210px;
}
.skills {
  display: flex;
  gap: 24px;
  margin: 10px 150px;
}
.skill {
  padding: 50px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title {
}
.skill-description {
  color: #757575;
}
/* resume section style*/
.resume {
}
.resume-cols {
  display: flex;
  gap: 70px;
  margin: 0px 200px;
}
.col-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-top: 100px;
  max-width: 500px;
}
.col-item {
}
.item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}
.instu {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.item-details {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}
hr {
  height: 1px;
  background: #d1d1d1;
}
.btn-resume {
  text-align: center;
}

/* footer section */
.footer {
  background: #fff8f3;
  height: 500px;
  display: flex;
  padding: 100px 200px;
  grid-area: 100px;
}
.footer-col{
    width: 50%;
}
.footer-description {
  color: #474747;
  font-size: 15px;
  font-weight: 400;
}
.social-links{
    display: flex;
    gap: 25px;
}
.message input[type="text"],.message input[type="email"],textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border: none;
    border-radius: 5px;
    width: 100%;
}
